name: valiDTr

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  validtr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: esuarkeN/valiDTr/.github/actions/validtr@v1
        with:
          config: .validtr/config.yml
          pubkeys: .validtr/pubkeys/*.asc
          policy: current
          email_mode: committer
